body{
  background-color: #787878;
}

#mainh1{
  font-size: 50px;
  text-align: center;
}

h1{
  color: #FFDEAD;
}

nav, a{
  color: #C0C0C0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

a:link{
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

a:hover{
  background-color: #D8D8D8;
}

dt:nth-child(4){
  text-decoration: underline;
}

p > a{
  color: #000000;
  font-size: 15px;
}

#TM{
  font-weight: bold;
  text-align: center;
}
