table{
  border: 1px solid #008000;
  border-collapse: collapse;
  width: 40%;
  font-size: 15px;
  font-family: arial, verdana;
}

th, td{
  padding: 5px;
  border-right: 1px solid #008000;
}

th{
  text-align: left;
  background-color: #008000;
  color: #FFFFFF;
}

tr:nth-child(2n+1){
  background-color: #F2FFE6;
}

img{
  height: 10px;
}
